
@{
    ViewData["Title"] = "ResultadoBusqueda";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>ResultadoBusqueda</h1>

<a asp-action="IndexUsuario" class="btn btn-warning">VOLVER AL MENU PRINCIPAL</a>

<a asp-action="BusquedaDeAlojamiento" class="btn btn-success">VOLVER AL MENU A BUSCAR</a>
