@model AgenciaFinal.Models.Alojamiento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="mb-5 ml-3">
        <a asp-action="Index" class="btn btn-primary p-2 ">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
    </div>
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Nuevo Alojamiento</h4>
            <p class="card-category">Complete los Datos</p>
        </div>
        <div class="card-body">
            <div id="botonocultar">
                <label>Que Alojamiento Vas Agregar ?</label>
                <input type="button" value="HOTEL" class="btn btn-primary" id="hotelform" />
                <input type="button" value="CABAÑA" class="btn btn-rose" id="cabaniaform" />
            </div>
            <form asp-action="Create" style="display:none" id="hotelview" enctype="multipart/form-data">
                <div class="text-danger"></div>

                <div class="row form-group">
                    <div class=" col-md-6">
                        <label asp-for="barrio" class="control-label"></label>
                        <input asp-for="barrio" class="form-control" />
                        <span asp-validation-for="barrio" class="text-danger"></span>
                    </div>
                    <div class=" col-md-6">
                        <label asp-for="ciudad" class="control-label"></label>
                        <input asp-for="ciudad" class="form-control" />
                        <span asp-validation-for="ciudad" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class=" col-md-6">
                        <label asp-for="estrellas" class="control-label"></label>
                        <input asp-for="estrellas" class="form-control" />
                        <span asp-validation-for="estrellas" class="text-danger"></span>
                    </div>
                    <div class=" col-md-6">
                        <label asp-for="cantidadDePersonas" class="control-label"></label>
                        <input asp-for="cantidadDePersonas" class="form-control" />
                        <span asp-validation-for="cantidadDePersonas" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class=" col-md-6">
                        <label asp-for="hotel.precio_por_persona" class="control-label"></label>
                        <input asp-for="hotel.precio_por_persona" class="form-control" />
                        <span asp-validation-for="hotel.precio_por_persona" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="tv" style="margin-left:105px;"></label>
                        <input asp-for="tv" class="form-control" />
                        <span asp-validation-for="tv" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="esHotel" style="margin-left:85px;"></label>
                        <input asp-for="esHotel" class="form-control" />
                        <span asp-validation-for="esHotel" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="imageFile" style="margin-left:85px;"></label>
                        <input asp-for="imageFile" acecept="image/*" />
                        <span asp-validation-for="imageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <input type="submit" value="Crear Alojamiento" class="btn btn-primary" />
                    </div>
                </div>


            </form>
            <form asp-action="Create" style="display:none" id="cabaniaview" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row form-group">
                    <div class=" col-md-4">
                        <label asp-for="barrio" class="control-label"></label>
                        <input asp-for="barrio" class="form-control" />
                        <span asp-validation-for="barrio" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label asp-for="ciudad" class="control-label"></label>
                        <input asp-for="ciudad" class="form-control" />
                        <span asp-validation-for="ciudad" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label asp-for="estrellas" class="control-label"></label>
                        <input asp-for="estrellas" class="form-control" />
                        <span asp-validation-for="estrellas" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class=" col-md-4">
                        <label asp-for="cantidadDePersonas" class="control-label"></label>
                        <input asp-for="cantidadDePersonas" class="form-control" />
                        <span asp-validation-for="cantidadDePersonas" class="text-danger"></span>
                    </div>

                    <div class=" col-md-4">
                        <label asp-for="cabania.banios" class="control-label"></label>
                        <input asp-for="cabania.banios" class="form-control" />
                        <span asp-validation-for="cabania.banios" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="cabania.habitaciones"></label>
                        <input asp-for="cabania.habitaciones" class="form-control" />
                        <span asp-validation-for="cabania.habitaciones" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="imageFile" style="margin-left:85px;"></label>
                        <input asp-for="imageFile" acecept="image/*" />
                        <span asp-validation-for="imageFile" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="cabania.precioPorDia"></label>
                        <input asp-for="cabania.precioPorDia" class="form-control" />
                        <span asp-validation-for="cabania.precioPorDia" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear Alojamiento" class="btn btn-primary" />
                </div>


            </form>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
