@model AgenciaFinal.Models.Usuario
@{
    ViewData["Title"] = "AdminEditUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminEditUsuario</h1>

<div class="col-md-12">
    <div class="card pb-2">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating" asp-for="nombre"></label>
                            <input class="form-control" asp-for="nombre">
                            <span asp-validation-for="nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="correoElectronico" class="bmd-label-floating"></label>
                            <input asp-for="correoElectronico" class="form-control">
                            <span asp-validation-for="correoElectronico" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DNI" class="bmd-label-floating"></label>
                            <input asp-for="DNI" class="form-control">
                            <span asp-validation-for="DNI" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display:none" id="pass">
                            <label asp-for="password" class="bmd-label-floating"></label>
                            <input asp-for="password" class="form-control" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="display:none" id="pass1">
                            <label class="bmd-label-floating">Constraseña Nueva</label>
                            <input name="passNueva" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display:none" id="pass2">
                            <label class="bmd-label-floating">Reingrese Contraseña Nueva</label>
                            <input name="passNueva1" class="form-control" />
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <input id="cambiar" type="button" value="CAMBIAR CONTRASEÑA" class="btn btn-primary" />

                    <input type="submit" value="Actualizar Datos" class="btn btn-primary pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>




