@model AgenciaFinal.Models.Reserva
@{
    ViewData["Title"] = "BusquedaDeAlojamiento";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-12" >
    <div class="card" style="margin-top:80px;">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Busca tu alojamiento favorito y Reservalo con pocos Clicks!</h4>
            <p class="card-category">Complete los Datos</p>
        </div>
        <div class="card-body">
            <form asp-action="BusquedaDeAlojamiento" asp-controller="Usuarios">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-static" asp-for="id_alojamiento.ciudad"></label>
                            <input class="form-control" asp-for="id_alojamiento.ciudad">
                            <span asp-validation-for="id_alojamiento.ciudad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="fDesde" class="bmd-label-static"></label>
                            <input asp-for="fDesde" class="form-control">
                            <span asp-validation-for="fDesde" class="text-danger"></span>
                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="fHasta" class="bmd-label-static"></label>
                        <input asp-for="fHasta" class="form-control">
                        <span asp-validation-for="fHasta" class="text-danger"></span>
                    </div>
                </div>
                </div>
        
                <div class="row mt-3 ">
                    <div class="col-md-4">
                            <label class="bmd-label-static">ELIJA TIPO DE ALOJAMIENTO</label>
                            <select class="form-control mt-2 " style="height:0px; " >
                                <option value="Hotel"></option>
                                <option value="Cabania"></option>
                                
                            </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mt-3">
                            <label asp-for="id_alojamiento.cantidadDePersonas" class="bmd-label-static"></label>
                            <input asp-for="id_alojamiento.cantidadDePersonas" class="form-control" />
                            <span asp-validation-for="id_alojamiento.cantidadDePersonas" class="text-danger"></span>
                        </div>
                    </div>
                 
                </div>
                <div>
                    <input type="submit" value="Buscar" class="btn btn-primary pull-right" />
                </div>
                    <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


