@model IEnumerable<AgenciaFinal.Models.Alojamiento>
@{
    ViewData["Title"] = "BusquedaDeAlojamiento";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>BusquedaDeAlojamiento</h1>



<div>
    <form style="font-size:small" method="post" asp-action="BusquedaDeAlojamiento" asp-controller="Usuarios">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group col-3">
                <label class="control-label "> Ciudad </label>
                <input name="ciudad" class="form-control" />
            </div>
            <div class="form-group col-3">
                <select name="esHotel" id="foo" class="form-select" aria-label="Default select example">
                    <option value="hotel">Hotel</option>
                    <option value="cabania">Cabania</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <label class="control-label ">Fecha Desde</label>
                <input name="fDesde" class="form-control" />
            </div>
            <div class="form-group col-3">
                <label class="control-label ">Fecha Hasta</label>
                <input name="fHasta" class="form-control" />
            </div>
            <div class="form-group col-3">
                <label class="control-label ">Cantidad de Personas</label>
                <input name="cantPersonas" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Buscar alojamiento" class="btn btn-primary" />
        </div>
    </form>
    <a asp-action="IndexUsuario" class="btn btn-warning">VOLVER</a>
</div>
