@model IEnumerable<AgenciaFinal.Models.Usuario>


@{
    ViewData["Title"] = "MisDatos";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>MisDatos</h1>

<a asp-action="IndexUsuario" class="btn btn-warning">VOLVER</a>