@model IEnumerable<AgenciaFinal.Models.Usuario>


@{
    ViewData["Title"] = "MisReservas";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>MisReservas</h1>

<a asp-action="IndexUsuario" class="btn btn-warning">VOLVER</a>