<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Usuario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/estilosPanel.css")">
    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0 p-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuario</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="d-flex row " >
            <div class="col-3">
                <div class="list-group list-group-flush">
                    <a asp-controller="Alojamientos" asp-action="BusquedaDeAlojamiento" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white" >Usuarios</a>
                    <a asp-controller="Reservas" asp-action="MisReservas" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white" >Reservas</a>
                    <a asp-controller="Usuarios" asp-action="CambiarContrasenia" class="list-group-item list-group-item-action list-group-item-light p-3 bg-dark text-white">Cambiar Contrase&ntilde;a
                    </a>
                </div>
            </div>


            <div class="col-9">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
